<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
<!--    <link rel="stylesheet" href="css/style.css">-->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<header>
    <h1>Welcome to My Portfolio</h1>
</header>

<main>
    <div>
        <a href="/resume">
            <button type="button" class="btn btn-primary">About me</button>
        </a>
    </div>

</main>

<footer>
    &copy; 2023 Wilyendri Duran | My Portfolio
</footer>
</body>
</html>
